/*HTML STYLING*/
html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*H1 STYLING*/
h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.85);
}


/*BODY STYLING*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #455175;
}


/*H2 STYLING*/
h2{
    font-family: 'Times New Roman';
    color:#fff ;
    text-align: center;
    margin: 20px 50px 50px 50px;
}


/*INPUT STYLING*/
input{
    padding: 10px;
    margin: 20px 50px 50px 80px;
    width: 300px;
    border-radius: 10px;
}


/*class="button-container" STYLING*/
.button-container{
    display:flex;
    justify-content: center;
    width: 100%;
}


/*BUTTON STYLING*/
button{
    background-color:darkgray;
    color: rgb(50, 75, 77);
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}


/*class="box" STYLING*/
.box{
    width: 96%;
    height: 60%;
    background-color: #91a4dc ;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}